<html>
<head>
	<title>Saksham Ahluwalia</title>
	<!-- Fonts Start -->
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
	<!-- Fonts End -->
	<!-- Css Links Start -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	<!-- Css Links End -->
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 jumbotron" id="header">
				<h1>
					SAKSHAM AHLUWALIA
				</h1>
				<hr class="style18">
			</div>
		</div>
	</div>
	
	<div class="container blind linkedin">
		<p>
			<a id="linkdeintag" href="https://www.linkedin.com/in/saksham-ahluwalia-791aa4143">Visit/Add me on Linked In</a>
		</p>
	</div>
	
	<div class="container resume blind">
		<iframe src="resume.pdf#zoom=100" width="100%" height="600px">
		This browser does not support PDFs. Please download the PDF to view it: <a href="/pdf/sample-3pp.pdf">Download PDF</a>
		</iframe>

	</div>

	
	<div class="container sideprojects git blind">
		<div class="media blind git">
		  <div class="media-left media-middle">
		    <img class="media-object thumbnail" src="yelpcamp.png">
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading">
		    	Yelp Camp
		    </h4>
			<ul>
				<li>YelpCamp was my first major project that helped me apply my skills as a full stack web developer</li>
				<li>It is a website that showcases numerous campgrounds.</li>
				<li>Specifications:</li>
				<ul>
					<li>Server: 	Node Js</li>
					<li>Database: 	MongoDB</li>
					<li>Authentication: Passport</li>
				</ul>
				<li>To find out more, please look at the code on GitHub.</li>
			</ul>	    
		  </div>
		</div>
	
		<div class="media blind git">
			  <div class="media-left media-middle">
			    <img class="media-object thumbnail" src="http://www.impulseadventure.com/photo/images/huffman/huff_tree1.gif">
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">
			    	Huffman Compression/Uncompression
			    </h4>
				<ul>
					<li>Huffman compression/uncompression is a project made using Python.</li>
					<li>Uses huffman coding to make an application that can compress any file.</li>
					<li>This project was part of CSC148 at the University of Toronto and was completed in a group of 3.</li>
					<li>To find out more, please look at the code on GitHub.</li>
				</ul>	    
			  </div>
		</div>
		
		<div class="media blind git">
			  <div class="media-left media-middle">
			    <img class="media-object thumbnail" src="TOAHmodel.png">
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">
			    	Towers of Anne Hoi
			    </h4>
				<ul>
					<li>Towers of Anne Hoi is a more advanced version of the famous problem, "Towers of Hanoi."</li>
					<li>The game can be played in two different environments.</li>
					<li>There is a recursive solution that allows the computer to solve the game.</li>
					<li>The recursive solution is the most optimal solution for the game to date.</li>
					<li>This project was part of CSC148 at the University of Toronto and was completed individually.</li>
					<li>To find out more, please look at the code on GitHub.</li>
				</ul>	    
			  </div>
		</div>
		<p id="githublink">
			<a id="github" href="https://github.com/sakshamahluwalia">Visit Me on Github</a>
		</p>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-xs-4 links">
				<span class="thumbnail blind">
					<img src="https://s-media-cache-ak0.pinimg.com/originals/36/93/a5/3693a5a8836ad1c0891ee65d5b63907d.png"></img>
				</span>
			</div>
			
			<div class="col-xs-4 links">
				<span class="thumbnail blind">
					<img src="http://careeredge.on.ca/wp-content/uploads/2014/05/Resume.jpg"></img>
				</span>
			</div>

			<div class="col-xs-4 links">
				<span class="thumbnail blind">
					<img src="http://www.aurameir.com/wp-content/uploads/2016/08/linkedim-2.jpg"></img>
				</span>
			</div>
		</div>
	</div>

<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="/scripts/index.js"></script>
</body>
</html>

