<html>
<head>
	<title>Saksham Ahluwalia</title>
	<!-- Fonts Start -->
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
	<!-- Fonts End -->
	<!-- Css Links Start -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	<!-- Css Links End -->
</head>
<body>
<div class="body">
	<div class="jumbotron invis">
		<div class="container">
			<h1><strong>DEVELOPER.</strong></h1>

			<span class="jumbobtn">
				<a href="/projects" class="invis btn btn-light"><strong>PROJECTS</strong></a>
			</span>
			
			<span class="jumbobtn">
					<a href="/about" class="invis btn btn-light"><strong>ABOUT ME</strong></a>
			</span>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="/scripts/index.js"></script>
</body>
</html>

